* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Trebuchet MS", sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgba(160, 207, 211, 1) 0%,
    rgba(180, 237, 210, 1) 100%
  );
}

.main-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  background: #87677b;
  text-align: center;
  margin: 128px auto;
  border-radius: 40px;
  padding-bottom: 32px;
}

h1 {
  margin: 1.5rem 0;
  color: white;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.3;
}

.task-form {
  margin-bottom: 32px;
}

.task-input {
  padding: 14px 32px 14px 16px;
  border-radius: 15px 0 0 15px;
  border: 2px solid #8d94ba;
  outline: none;
  width: 30%;
  background: transparent;
  color: #fff;
}

.task-input::placeholder {
  color: #e2e2e2;
}

.task-input-submit {
  padding: 16px;
  border: none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  outline: none;
  background: #8d94ba;
  color: #fff;
}

.task-input.edit {
  border: 2px solid #149fff;
}

/* idk here */
.task-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

/* and here */
.task-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
  color: #fff;
  background: #9a7aa0;
  padding: 16px;
  border-radius: 30px;
  width: 90%;
}

.custom {
  background: #8d94ba;
}

.courseIndex0 {
  background: #2e4d37;
}

.courseIndex1 {
  background: #862809;
}

.courseIndex2 {
  background: #3e2837;
}

.courseIndex3 {
  background: #994636;
}

.courseIndex4 {
  background: #a56427;
}

.courseIndex5 {
  background: #19535f;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 8px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
