* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Trebuchet MS", sans-serif;
  position: relative;
  z-index: 100;
}

.main-view {
  position: absolute;
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.button {
  font-family: cursive;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  font-size: large;
  background-color: lightblue;
  color: teal;
}

.profile-tab {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  background: rgba(0, 128, 128, 0.8);
  text-align: center;
  border-radius: 40px;
  padding-bottom: 32px;
}

.map-tab {
  display: flex;
  flex-direction: column;
  width: 80%;
  background: rgba(0, 128, 128, 0.8);
  text-align: center;
  border-radius: 40px;
  padding-bottom: 32px;
  height: max-content;
  align-items: center;
}

.map-view {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 600px;
  flex-wrap: wrap;
  width: 400px;
  align-self: center;
  justify-content: center;
  align-content: center;
}

.map-square1 {
  height: 250px;
  width: 250px;
  background-color: rgb(161, 221, 164);
  margin: 20px;
  padding: 40px;
}

.map-square2 {
  height: 250px;
  width: 250px;
  background-color: rgb(178, 158, 224);
  margin: 20px;
  padding: 40px;
  color: rgb(178, 158, 224);
}

.map-square3 {
  height: 250px;
    width: 250px;
    background-color: rgb(231, 227, 166);
    margin: 20px;
    padding: 40px;
    color: rgb(231, 227, 166);
}

.map-square2-lock {
  height: 250px;
  width: 250px;
  background-color: rgb(82, 68, 116);
  margin: 20px;
  padding: 40px;
  color: white;
}

.map-square2-lock:hover {
  font-size: larger;
  background-color: rgb(178, 158, 224);
}

.map-square3-lock {
  height: 250px;
    width: 250px;
    background-color: rgb(182, 177, 104);
    margin: 20px;
    padding: 40px;
    color: white;
}

.map-square3-lock:hover {
  font-size: larger;
  background-color: rgb(231, 227, 166);
}

.task-manager-tab {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  background: rgba(0, 128, 128, 0.8);
  text-align: center;
  border-radius: 40px;
  padding-bottom: 32px;
  overflow: auto;
}

h1 {
  margin: 1.5rem 0;
  color: white;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.3;
}

.task-form {
  margin-bottom: 32px;
}

.task-input {
  padding: 14px 32px 14px 16px;
  border-radius: 15px 0 0 15px;
  border: 2px solid #8d94ba;
  outline: none;
  width: 30%;
  background: transparent;
  color: #fff;
}

.task-date-input {
  margin-left: 10px;
  padding: 14px 32px 14px 16px;
  border-radius: 15px;
  border: 2px solid #8d94ba;
  outline: none;
  width: 20%;
  background: transparent;
  color: #fff;
}

.task-input::placeholder {
  color: #e2e2e2;
}

.task-input-submit {
  padding: 16px;
  border: none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  outline: none;
  background: #8d94ba;
  color: #fff;
}

.task-input.edit {
  border: 2px solid #149fff;
}

/* idk here */
.task-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

/* and here */
.task-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
  color: #fff;
  background: #9a7aa0;
  padding: 16px;
  border-radius: 30px;
  width: 90%;
}

/* .task-row-text {
  float: left;
  width: 90%;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
} */

.custom {
  background: #8d94ba;
}

.courseIndex0 {
  background: #468858;
}

.courseIndex1 {
  background: #6d084b;
}

.courseIndex2 {
  background: #3e2837;
}

.courseIndex3 {
  background: #994636;
}

.courseIndex4 {
  background: #a56427;
}

.courseIndex5 {
  background: #19535f;
}

.task-row-date-icons {
  display: flex;
  flex-direction: horizontal;
}

.task-row-icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-left: 8px;
  margin-right: 8px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.menu-button {
  font-size: 45px;
  position: absolute;
  color: #fff;
}

.filter-button {
  padding: 16px;
  border: none;
  border-radius: 15px 15px 15px;
  cursor: pointer;
  outline: none;
  background: #8d94ba;
  color: #fff;
}

#map-button {
  top: 20px;
  left: 25px;
}

#profile-button {
  top: 20px;
  right: 25px;
}

#tasks-button {
  top: 80px;
  right: 25px;
}
